h1 {
  color: rgb(21, 12, 14);
  display: block;
  height: 150px;
  text-align: center;
}

img {
  display: block;
  background: linear-gradient(
    0deg,
    rgb(252, 183, 115) 0%,
    rgb(139, 102, 241) 100%
  );
  width: 300px;
  height: 500px;
  margin: 0 auto;
}

body {
  background: linear-gradient(
    0deg,
    rgb(252, 183, 115) 0%,
    rgb(139, 102, 241) 100%
  );
}

p {
  display: block;
  text-align: center;
}
