h2 {
  color: rgb(21, 12, 14);
  display: block;
  height: 150px;
  text-align: center;
  font-size: small;
}

img {
  display: block;

  width: 300px;

  margin: 0 auto;
}

body {
  background: linear-gradient(
    0deg,
    rgb(252, 183, 115) 0%,
    rgb(250, 148, 25) 100%
  );
}
